/Animation.class
/Factorial.class
/Ficheiros.class
/MergeSort.class
/Pitagoras.class
/PolygonApplet.class
/PolygonFill.class
/PolygonFill2.class
/SerieGeometrica.class
/TimerTestApp$1.class
/TimerTestApp$Action.class
/TimerTestApp.class
/nthDerivative.class
