/ColorFunction.class
/ColorFunctionReal$MyThread.class
/ColorFunctionReal.class
/DerivativeTest.class
/DerivativeTest2.class
/Janela.class
/Line.class
/MarkovExperiment$1.class
/MarkovExperiment.class
/MouseExample.class
/NotePad.class
/ParametricTest.class
/TxtExample.class
/WordDistribution.class
